extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Hi, I'm Scout.

        p.lead.text-light
          | I'm a full-stack dev.


        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Node
          li Express
          li React
          li MongoDB
          li MySQL
          li HTML5/CSS
          li Git
          li Linux
          li C
          li Lisp
	  
        h6 Contact Info

        ul
          li +1 (385) 529 8233
          li scout.starchaser@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/scout-starchaser/') LinkedIn
        a.button.expanded(href='https://github.com/scout-starchaser') GitHub
        a.button.expanded(href='https://twitter.com/LynnStarchaser') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  