extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Projects

      //- Add a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
      p.lead.text-light
        | Portfolio Description
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      ul
        each p in projects
         .cell
           a(href=`/project/${p.id}`)
             img.thumbnail(src=`${p.image_square}`)
             h5= `${p.project_name}`


